<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.alvin.shop.order.dao.ShopGoodsMapper">
  <resultMap id="BaseResultMap" type="org.example.alvin.shop.order.model.ShopGoods">
    <constructor>
      <idArg column="goods_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
      <arg column="goods_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="goods_number" javaType="java.lang.Integer" jdbcType="INTEGER"/>
      <arg column="goods_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
      <arg column="goods_desc" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <arg column="add_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goods_id
    , goods_name, goods_number, goods_price, goods_desc, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from shop_goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete
    from shop_goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.example.alvin.shop.order.model.ShopGoods">
    insert into shop_goods (goods_id, goods_name, goods_number,
                            goods_price, goods_desc, add_time)
    values (#{goodsId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR},
            #{goodsNumber,jdbcType=INTEGER},
            #{goodsPrice,jdbcType=DECIMAL}, #{goodsDesc,jdbcType=VARCHAR},
            #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.example.alvin.shop.order.model.ShopGoods">
    insert into shop_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsNumber != null">
        goods_number,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"
    parameterType="org.example.alvin.shop.order.model.ShopGoods">
    update shop_goods
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null">
        goods_number = #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.example.alvin.shop.order.model.ShopGoods">
    update shop_goods
    set goods_name   = #{goodsName,jdbcType=VARCHAR},
        goods_number = #{goodsNumber,jdbcType=INTEGER},
        goods_price  = #{goodsPrice,jdbcType=DECIMAL},
        goods_desc   = #{goodsDesc,jdbcType=VARCHAR},
        add_time     = #{addTime,jdbcType=TIMESTAMP}
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
</mapper>